/* 2K resolution screens */
@media only screen and (min-width: 2560px) {
    header {
        margin-top: 3rem !important;
        margin-bottom: 4rem !important;
    }

    .logo {
        height: 8rem;
        width: 13rem;
    }

  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 30px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 2rem !important;
    padding: .5rem .5rem;
}

/*Home*/
.banner-header-text{
    font-size: 7rem !important;
    font-weight: 900;
    line-height: 7rem;
}

.high-res .mt-5{
    margin-top: 5.5rem !important;
}

.home-section .mt-md-5{
    margin-top:7rem !important;
}

.header-para{
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    margin-bottom: 12rem !important;
  }

  .hero-video{
    width: 1320px;
    height: 740px;
  }

  .button-container {
    display: flex;
  }
  
  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin{
    margin-top: 4rem;
  }

  .btn-group-sm>.btn, .btn-sm{
    width: 250px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 35px; /* Adjust the top position as needed */
    right: 35px; /* Adjust the right position as needed */
    width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: #000000; /* Background color of the toggle button */
    border-radius: 50%; /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px; /* Adjust the font size as needed */
    z-index: 1; /* Ensure the icon is above the iframe */
  }

  .home-video iframe{
    border-radius: 2rem !important;
  }

    /* About Us */
  .about-us {
    background-color: #191E28;
    border-radius: 1rem; 
    padding: 5% 10% !important;
    }

    .about-us h5 {
        font-size: 5rem !important;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .about-bold-text {
        font-size: 3.5rem !important;
    }

    .about-us .about-light-text {
        font-size: 2.3rem !important;
    }

    .btn-about-us{
        text-align: center !important;
        margin-top: 5rem !important;
        font-size: 2rem !important;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    .featured-section {
        margin: 0 10rem !important;
    }

    .featured-work-text{
        font-size: 2.5rem !important;
        font-weight: bold;
    }

    .featured-work h1{
        font-size: 4.5rem !important;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 4rem !important;
        margin-top: 2rem !important;
    }

    .about-us .B2B-text{
        margin-top: 2rem !important;
        font-size: 2.6rem !important;
    }

    .B2B-text{
        font-size: 2rem !important;
    }

    .B2B-margin-top a{
        margin-top: 3rem !important;
        padding: 1rem 3rem 1rem 3rem !important;
    }

    .btn-know-more{
        font-size: 2rem !important;
    }

    /*-Who We Helped Explain-*/

    .container-padding-helped{
        padding: 0 8rem !important;
    }
    .helped-margin{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 1.2rem !important;
        font-weight: 500;
        margin-bottom: 3rem !important;
    }

    .learn-last{
        margin-bottom: -1rem !important;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }
    
    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 2.5rem !important;
        font-weight: 500;
    }

    .btn-see-more{
        font-size: 2rem !important;
    }

    /* What they say about us */
    .what_they_say_about_us{
        padding-top: 6rem !important;
        margin-bottom: 13rem !important;
    }

    .comments-text-bold{
        font-size: 4rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 3rem !important;
    }

    /* Social Media Styles */
    .social-container-padding .about-us{
        padding: 15rem 8rem !important;
    }

    .social-text span {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    
    .social-text {
        font-size: 5rem !important; 
        font-weight: 900 !important;
        line-height: 7rem !important;
        color: #FFF !important;
        margin-bottom: 5rem !important;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }

    /* About Us Page  */
    .banner-header-about-text{
        font-size: 8rem !important;
        font-weight: 900 !important;
        line-height: 8rem !important;
    }

    .who-we-are{
        padding-top: 10rem !important;
    }

    .who-we-are-head{
        font-size: 5rem !important;
        font-weight: 900 !important;
    }

    .who-we-are-para-1{
        font-size: 3.5rem !important;
        font-weight: 700 !important;
        line-height: 4rem !important;
        margin-top: 4rem !important;
    }

    .who-we-are-para-2{
        font-size: 3.2rem !important;
        font-weight: 500 !important;
        line-height: 4rem !important;
        margin-top: -1.5rem !important;
        margin-bottom: 5rem !important;
    }

    .who-we-are-para-img{
        margin-top: 1rem;
        margin-left: 2rem;
        width: 50% !important;
    }

    .what-motivates-our-actions-para-1{
        font-size: 4rem !important;
        font-weight: 700 !important;
        line-height: 4.5rem !important;
        margin-top: 2rem !important;
    }

    .what-motivates-our-actions-para-2{
        margin-top: 2rem;
        font-size: 3rem !important;
        font-weight: 500;
        line-height: 3.5rem;
        margin-left: 5rem !important;
    }

    .about-us {
        background-color: #191E28;
        border-radius: 1rem; 
        padding: 5rem 8rem !important;
    }

    .chit-chat{
        color: #FFF;
        font-weight: 900;
        font-size: 5rem !important;
        line-height: 8rem;
    }

    .accordion-margin{
        margin-top: 8rem !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url(../images/minus.png) !important;
        transform: rotate(-180deg);
    }

    .accordion-button::after {
        flex-shrink: 0;
        width: 1.3rem;
        height: 1.3rem;
        margin-left: auto;
        content: "";
        background-image: url(../images/plus.png) !important;
        background-repeat: no-repeat;
        background-size: 1.3rem;
        transition: transform .2s ease-in-out;
    }

    .accordion-button:not(.collapsed) {
        color: #000 !important;
        font-weight: 600 !important;
        background-color: hsl(0, 0%, 100%) !important; 
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125) !important;
    }
    
    .accordion-button{
        font-weight: 600 !important;
        font-size: 3rem !important;
    }

    .accordion-body{
        font-size: 2rem !important;
    }

    /*Learn Page*/
    .banner-header-learn-text{
        font-size: 7rem !important;
        font-weight: 900 !important;
        line-height: 9rem;
    }

    .learn-search{
        padding: 2rem 3rem !important;
        border: 1px solid #000 !important;
        margin-bottom: 10rem !important;
        font-size: 2rem !important;
    }

    .learn-search::placeholder{
        color: #000 !important;
    }

    .pagination{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
        /* display: flex !important; */
        display: none !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .learn-pagination{
        height: 2.5rem !important;
        width: 2.5rem !important;
        background-color: #FFF !important;
        margin-right: .5rem !important;
        font-weight: 600;
    }

    .learn-pagination:hover{
        background-color: #007BFF !important;
        color: #FFF !important;
        border: none !important;
    }

    .GotIdea-text{
        font-size: 5rem !important;
        font-weight: 900 !important;
        color: #FFF !important;
    }

    .GotIdea-button{
        font-size: 2.5rem !important;
        padding: 1rem 5rem !important;
        margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*footer*/
    .footer-head{
        font-size: 4rem !important;
        font-weight: 900 !important;
        margin-bottom: 5rem !important;
    }

    .footer-address{
        margin-bottom: 0 !important;
    }

    .footer-para {
        font-family: 'Urbanist', sans-serif !important;
        font-size: 2rem !important;
        font-weight: 600 !important;
    }

    .footer-margin-section-2{
        margin-bottom: 2rem !important;
    }

    .footer-margin-section-3{
        margin-bottom: 2rem !important;
    }

    .footer-margin-section-3-first{
        margin-top: 10rem !important;
        margin-bottom: 2rem !important;
    }

    .footer-link{
        color: #000 !important;
    }

    .footer-link:hover{
        color: #007BFF !important;
    }

    .last-footer-section{
        margin-top: 5rem !important;
    }

    ul{
        padding-left: 0 !important;
    }


    .footer-hr{
        display: none;
    }

    ::placeholder {
        color: black;
        opacity: 1;
    }

    .service-section h5{
        font-size: 2.5rem !important;
    }

    .service-section p{
        font-size: 2rem !important;
    }

    .service-section {
        flex: 1 0 calc(33.33% - 20px);
        margin: 1rem .6rem;
        padding: 3rem 2.5rem;
        box-sizing: border-box;
    }

    .margin-head-create{
        margin-top: 10rem;
    }

    .image_margin{
        margin-top: 2.5rem !important;
        padding: 2.8rem !important;
        transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
              opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      .image_margin:hover {
        transform: scale(1.2);
      }

      .featured-work-videos-padding{
        padding: 0rem 1rem 2.5rem 1rem !important;
      }

      .hero-featured-video{
        width: 100%;
        height: 590px;
        border-radius: 1rem;
      }

      .featured-all-projects .btn{
        font-size: 1.8rem !important;
      }

      .B2B-margin-top-head{
        margin-top: 9rem !important;
        margin-bottom: 10rem !important;
      }

      .learn-container-top-space {
        margin-top: 9rem !important;
      }

      .btn-arrow .fs-4{
        font-size:2.5rem !important;
      }

      .arrow-btns .btn{
        padding: .5rem 1.3rem !important;
      }

      .ContactUsSection{
        margin-top: 12rem !important;
      }

      .contact-textarea,
      .contact-gradient{
        border: none;
        border-radius: 0.7rem; 
        background-color: #E9F0FE !important;
        margin-top: 1rem !important;
        color: #000 !important;
    }

    .contact-textarea::placeholder,.contact-gradient::placeholder, select{
        color: #000 !important;
        font-weight: 600 !important;
        font-size: 1.5rem !important;
    }

    #dropdown1 option {
        border-radius: 0.7rem; 
        background: #007BFF;
        color: white;
        border: none;
    }

    .btn-btnsubmit {
        align-items: end;
    }

    .btn-submit{
        font-size: 1.5rem !important;
    }
}