/* 4K resolution screens */
@media only screen and (min-width: 2561px) {
    header {
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    .logo {
        height: 10rem;
        width: 15rem;
    }

    header nav ul li a {
        display: inline-block;
        color: #000;
        margin: 0 10px;
        border: 3px solid transparent;
        text-transform: uppercase;
        transition: 0.2s;
        font-weight: 600;
        padding: 1rem 2rem !important;
        font-size: 3rem;
    }

    /*--Home--*/
    .container-padding {
        padding: 0 2rem !important;
    }

    .banner-header-text {
        font-size: 15rem;
        font-weight: 900;
        line-height: 13rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3.5rem !important;
        cursor: pointer;
        padding: 1.5rem 6rem !important;
    }

    .button-container-margin {
        margin-top: 7rem;
    }

    .header-para {
        font-size: 5rem !important;
    }

    .mt-5{
        margin-top: 10rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 6rem !important;
    }

    .B2B-text{
        font-size: 3.5rem !important;
    }

    .btn-know-more{
        font-size: 2.5rem !important;
    }

    /*-Who We Helped Explain-*/
    .container-padding-helped{
        padding: 0 12rem !important;
    }

    .helped-margin{
        margin-bottom: 8rem !important;
    }

    .helped-text{
        font-size: 8rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 4rem;
        font-size: 4rem !important;
        font-weight: 500;
    }

    .learn-text-bold{
        font-size: 6rem !important;
        font-weight: 900;
    }

    .btn-see-more{
        font-size: 3rem !important;
    }

    /* What they say about us */
    .comments-text-bold{
        font-size: 6rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 5rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 8rem !important; 
        font-weight: 900 !important;
        line-height: 10rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 15rem;
    }
}