/* 4K resolution screens */
@media only screen and (min-width: 2561px) {
    header {
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    .logo {
        height: 13rem;
        width: 20rem;
    }

    header nav ul li a {
        display: inline-block;
        color: #000;
        margin: 0 50px;
        border: 3px solid transparent;
        transition: 0.2s;
        font-weight: 600;
        font-size: 3rem !important;
        padding: .5rem .5rem;
    }
    
    /*Home*/
    .banner-header-text{
        font-size: 10rem !important;
        font-weight: 900;
        line-height: 12rem;
    }
    
    .header-para{
        font-size: 3.8rem !important;
        font-weight: 600 !important;
      }
    
      .hero-video{
        width: 1980px;
        height: 1120px;
      }
    
      .button-container {
        display: flex;
      }
      
      .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3rem !important;
        cursor: pointer;
        padding: 1.5rem 2rem !important;
      }
    
      .button-container-margin{
        margin-top: 7rem !important;
      }

      .btn-primary{
        width: 450px !important;
      }
    
      .btn-group-sm>.btn, .btn-sm{
        width: 450px !important;
      }
    
      .volume-toggle {
        position: absolute;
        top: 35px; /* Adjust the top position as needed */
        right: 35px; /* Adjust the right position as needed */
        width: 80px;
        height: 80px;
        color: #ffffff;
        background-color: #000000; /* Background color of the toggle button */
        border-radius: 50%; /* Make it circular */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 45px; /* Adjust the font size as needed */
        z-index: 1; /* Ensure the icon is above the iframe */
      }
    
      .home-video iframe{
        border-radius: 2.5rem !important;
      }

    .mt-5{
        margin-top: 8rem !important;
    }

    .high-res .mt-5{
        margin-top: 7rem !important;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 6rem !important;
    }

    .B2B-text{
        font-size: 3.5rem !important;
    }

    .btn-know-more{
        font-size: 2.5rem !important;
    }

    /*-Who We Helped Explain-*/
    .container-padding-helped{
        padding: 0 12rem !important;
    }

    .helped-margin{
        margin-bottom: 8rem !important;
    }

    .helped-text{
        font-size: 8rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 4rem;
        font-size: 4rem !important;
        font-weight: 500;
    }

    .learn-text-bold{
        font-size: 6rem !important;
        font-weight: 900;
    }

    .btn-see-more{
        font-size: 3rem !important;
    }

    /* What they say about us */
    .comments-text-bold{
        font-size: 6rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 5rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 8rem !important; 
        font-weight: 900 !important;
        line-height: 10rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 15rem;
    }

    /* About Us Page  */
    .banner-header-about-text{
        font-size: 14rem !important;
        font-weight: 900 !important;
        line-height: 14rem !important;
    }

    .who-we-are{
        padding-top: 10rem !important;
    }

    .who-we-are-head{
        font-size: 8rem !important;
        font-weight: 900 !important;
    }

    .who-we-are-para-1{
        font-size: 5rem !important;
        font-weight: 700 !important;
        line-height: 6rem !important;
        margin-top: 4rem !important;
    }

    .who-we-are-para-2{
        font-size: 4.5rem !important;
        font-weight: 500 !important;
        line-height: 6rem !important;
        margin-top: -5rem !important;
        margin-bottom: 5rem !important;
    }

    .who-we-are-para-img{
        margin-top: 1rem;
        margin-left: 2rem;
        width: 50% !important;
    }

    .what-motivates-our-actions-para-1{
        font-size: 5rem !important;
        font-weight: 700 !important;
        line-height: 6rem !important;
        margin-top: 2rem !important;
    }

    .what-motivates-our-actions-para-2{
        margin-top: 2rem;
        font-size: 4.5rem !important;
        font-weight: 500;
        line-height: 5rem !important;
        margin-left: 5rem !important;
    }

    .about-us {
        background-color: #191E28;
        border-radius: 1rem; 
        padding: 8rem 12rem !important;
    }

    .chit-chat{
        color: #FFF;
        font-weight: 900;
        font-size: 8rem !important;
        line-height: 12rem;
    }

    .accordion-margin{
        margin-top: 8rem !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url(../images/minus.png) !important;
        transform: rotate(-180deg);
    }

    .accordion-button::after {
        flex-shrink: 0;
        width: 1.3rem;
        height: 1.3rem;
        margin-left: auto;
        content: "";
        background-image: url(../images/plus.png) !important;
        background-repeat: no-repeat;
        background-size: 1.3rem;
        transition: transform .2s ease-in-out;
    }

    .accordion-button:not(.collapsed) {
        color: #000 !important;
        font-weight: 600 !important;
        background-color: hsl(0, 0%, 100%) !important; 
        box-shadow: inset 0 -1px 0 rgba(0,0,0,.125) !important;
    }
    
    .accordion-button{
        font-weight: 600 !important;
        font-size: 3rem !important;
    }

    .accordion-body{
        font-size: 2rem !important;
    }

    /*Learn Page*/
    .banner-header-learn-text{
        font-size: 11rem !important;
        font-weight: 900 !important;
        line-height: 13rem;
    }

    .learn-search{
        padding: 3rem 5rem !important;
        border: 1px solid #000 !important;
        margin-bottom: 10rem !important;
        font-size: 3.5rem !important;
    }

    .learn-search::placeholder{
        color: #000 !important;
    }

    .pagination{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
        /* display: flex !important; */
        display: none !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .learn-pagination{
        height: 2.5rem !important;
        width: 2.5rem !important;
        background-color: #FFF !important;
        margin-right: .5rem !important;
        font-weight: 600;
    }

    .learn-pagination:hover{
        background-color: #007BFF !important;
        color: #FFF !important;
        border: none !important;
    }

    .GotIdea-text{
        font-size: 8rem !important;
        font-weight: 900 !important;
        color: #FFF !important;
    }

    .GotIdea-button{
        font-size: 4rem !important;
        padding: 1rem 8rem !important;
        margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    /*footer*/
    .footer-head{
        font-size: 7rem !important;
        font-weight: 900 !important;
        margin-bottom: 5rem !important;
        margin-top: 5rem !important;
    }

    .footer-address{
        margin-bottom: 0 !important;
    }

    .footer-para {
        font-family: 'Urbanist', sans-serif !important;
        font-size: 4rem !important;
        font-weight: 600 !important;
    }

    .footer-margin-section-1{
        margin-bottom: 4rem !important;
    }

    .footer-margin-section-2{
        margin-bottom: 4rem !important;
    }

    .footer-margin-section-3{
        margin-bottom: 4rem !important;
    }

    .footer-margin-section-3-first{
        margin-top: 20rem !important;
        margin-bottom: 4rem !important;
    }

    .footer-link{
        color: #000 !important;
    }

    .footer-link:hover{
        color: #007BFF !important;
    }

    .last-footer-section{
        margin-top: 5rem !important;
    }

    ul{
        padding-left: 0 !important;
    }


    .footer-hr{
        display: none;
    }

    ::placeholder {
        color: black;
        opacity: 1;
    }

    .service-section h5{
        font-size: 4rem !important;
    }

    .service-section p{
        font-size: 3rem !important;
    }

    .service-section {
        flex: 1 0 calc(33.33% - 20px);
        margin: 1rem .6rem;
        padding: 5rem 3rem;
        box-sizing: border-box;
    }

    .margin-head-create{
        margin-top: 20rem;
    }
}