@media only screen and (min-width: 768px) and (max-width:1023px) {

  /*navbar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .8rem;
  }

  /*--Home--*/
  .container-padding {
    padding: 0 1rem !important;
  }

  .banner-header-text {
    font-size: 2.2rem !important;
    font-weight: 900;
    line-height: 1.5rem !important;
    text-align: start !important;
  }

  .header-para {
    font-size: .78rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 410px;
    height: 230px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem !important;
    cursor: pointer;
    padding: .5rem .7rem !important;
  }

  .button-container-margin {
    margin-top: 2rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 120px !important;
  }

  .btn-primary {
    width: 120px !important;
  }

  .about-light-text .btn-primary {
    width: 190px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 45px !important;
    right: 5px !important;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
  }

  /*-Feautered Images-*/
  .featured-work-img {
    border-radius: 1rem !important;
  }

  .featured-section {
    margin: 0 2rem !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1278px) {

  /*navbar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 600;
    padding: .3rem .5rem;
    font-size: .8rem;
  }

  /*--Home--*/
  .container-padding {
    padding: 0 1rem !important;
  }

  .home-section .container-fluid .row .mt-md-5 {
    margin-top: 2rem !important;
  }

  .banner-header-text {
    font-size: 3rem !important;
    font-weight: 900;
    line-height: 2rem !important;
  }

  .banner-header-learn-text {
    font-size: 2.1rem !important;
    font-weight: 900;
    line-height: 1.7rem !important;
  }

  .header-para {
    font-size: .9rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 490px;
    height: 270px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .8rem !important;
    cursor: pointer;
    padding: .5rem .7rem !important;
  }

  .button-container-margin {
    margin-top: 2rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 120px !important;
  }

  .btn-primary {
    width: 120px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 25px;
    height: 25px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    z-index: 1;
  }

  /*-Feautered Images-*/
  .featured-work-img {
    border-radius: 1rem !important;
  }

  .featured-section {
    margin: 0 2rem !important;
  }

  .about-us .btn-primary {
    width: 200px !important;
  }

  .arrow-btns .btn-primary {
    width: 60px !important;
  }
}

@media only screen and (min-width: 1279px) and (max-width:1365px) {

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1rem !important;
    padding: .5rem .5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 3.4rem !important;
    font-weight: 900;
    line-height: 2.5rem !important;
  }

  .header-para {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 630px;
    height: 360px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem !important;
    cursor: pointer;
    padding: .9rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 3rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm,
  .btn-primary {
    width: 165px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }

  /*-Feautered Images-*/
  .featured-section {
    margin: 0 4rem !important;
  }

  .featured-work-img {
    border-radius: 1rem !important;
  }

  .about-us .btn-primary {
    width: 230px !important;
  }

  .arrow-btns .btn-primary {
    width: 60px !important;
  }
}

@media only screen and (min-width: 1366px) and (max-width:1439px) {

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.1rem !important;
    padding: .5rem .5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 3.5rem !important;
    font-weight: 900;
    line-height: 3rem;
  }

  .header-para {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 680px;
    height: 380px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 3rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 140px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }

  .learn-section .featured-work .learn-text-bold {
    margin-top: 6rem !important;
  }
}

@media only screen and (min-width: 1440px) and (max-width:1679px) {

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.1rem !important;
    padding: .5rem .5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 4rem !important;
    font-weight: 900;
    line-height: 3.5rem;
  }

  .header-para {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 730px;
    height: 410px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 3rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 140px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }

  .learn-section .featured-work .learn-text-bold {
    margin-top: 6rem !important;
  }

  .social-text {
    font-size: 3.5rem !important;
    line-height: 5rem !important;
  }
}

@media only screen and (min-width: 1680px) and (max-width:1918px) {

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.3rem !important;
    padding: .5rem .5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 4.5rem !important;
    font-weight: 900;
    line-height: 3.7rem;
  }

  .header-para {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 825px;
    height: 460px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 4rem !important;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 160px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }

  .learn-section .featured-work .learn-text-bold {
    margin-top: 6rem !important;
  }

  .social-text {
    font-size: 3.5rem !important;
    line-height: 5rem !important;
  }
}

@media only screen and (min-width: 1919px) {

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 20px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 1.5rem !important;
    padding: .5rem .5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 5rem !important;
    font-weight: 900;
    line-height: 4.5rem;
  }

  .header-para {
    font-size: 2rem !important;
    font-weight: 600 !important;
  }

  .home-img {
    border-radius: 1rem;
  }

  .hero-video {
    width: 949px;
    height: 537px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 4rem;
  }

  .btn-group-sm>.btn,
  .btn-sm {
    width: 200px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 25px;
    /* Adjust the top position as needed */
    right: 45px;
    /* Adjust the right position as needed */
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    /* Background color of the toggle button */
    border-radius: 50%;
    /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    /* Adjust the font size as needed */
    z-index: 1;
    /* Ensure the icon is above the iframe */
  }

  /* Feature Section */
  .featured-work-img {
    border-radius: 1rem !important;
  }

  .featured-work-text {
    font-size: 1.5rem !important;
  }


}