@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif !important;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #FFF;
    padding-top: 3rem;
}

:root {
    --scroll-bar-color: #C5CADF;
    --scroll-thumb-color: #70768A;
    --scroll-thumb-hover-color: #454F6B;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

.container-top-space {
    margin-top: 10%;
}

.logo {
    height: 4rem;
    width: 6.5rem;
}

header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 600;
    padding: .5rem .5rem;
}
header nav ul li a:hover {
    color: #2061f2;
}

.link-contact{
    color: #FFF;
    background-color: #000;
    padding: .5rem 1rem;
}

.link-contact:hover{
    color: #FFF;
    background-color: #000;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

/*--Home--*/
.container-padding{
    padding: 0 2rem !important;
}

.banner-header-text{
    font-size: 6rem;
    font-weight: 900;
    line-height: 4.5rem;
}

.button-container {
    display: flex;
  }
  
  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin{
    margin-top: 3rem;
  }

  .header-para{
    font-size: 1.8rem !important;
  }

  .home-img{
    border-radius: 1rem;
  }

  /* About Us */
  .about-us {
    background-color: #191E28;
    border-radius: 1rem; 
    padding: 5% 10% !important;
    }

    .about-us h5 {
        font-size: 2.6rem !important;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .about-bold-text {
        font-size: 2rem !important;
    }

    .about-us .about-light-text {
        font-size: 1.2rem !important;
    }

    .featured-section {
        margin: 0 8rem !important;
    }

    .featured-all-projects button{
        margin-top: 2rem !important;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 2.5rem !important;
    }

    .B2B-text{
        font-size: 1.4rem !important;
    }

    /*-Who We Helped Explain-*/
    .slick-slide{
        margin: 0 0;
    }
    .slick-slide img{
        width: 100%;
    }
    .slick-slider{
        position: relative;
        display: block;
        box-sizing: border-box;
    }

    .slick-list{
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-track{
        position: relative;
        top: 0;
        left: 0;
        display: block
    }
    .slick-slide{
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    .slick-slide img{
        display: block;
    }
    .slick-initialized .slick-slide{
        display: block;
    }
    .copy{
        padding-top: 250px;
    }
    .helped-margin{
        margin-bottom: 5rem !important;
    }

    .container-padding-helped{
        padding: 0 10rem !important;
    }

    
    /* Learn */
    .learn-img{
        border-radius: .8rem !important;
    }

    .learn-text{
        margin-top: 1rem;
        font-size: 1.4rem !important;
        font-weight: 500;
    }

    .helped-text, .learn-text-bold{
        font-weight: 900;
    }

    /* What they say about us */
    .comments-margin{
        margin-top: 3rem !important;
    }

    /* What they say about us */
    .comments-text-bold{
        font-size: 2.5rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1.8rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 3rem !important; 
        font-weight: 900 !important;
        line-height: 4rem !important;
        color: #FFF !important;
    }

    .insta {
        background: linear-gradient(to right, #FF312C, #FFB131);
    }

    /* Contact Us */
    .contact-textarea,
    .contact-gradient{
        border: none;
        border-radius: 0.7rem; 
        background-color: #E9F0FE !important;
    }

    #dropdown1 option {
        border-radius: 0.7rem; 
        background: #007BFF;
        color: white;
        border: none;
    }

    .btn-btnsubmit {
        align-items: end;
    }

    .footer-para {
        font-family: 'Urbanist', sans-serif !important;
        font-size: 1.2rem !important;
    }

    .last-footer-section{
        margin-top: 5rem !important;
    }

    .footer-link{
        color: #000;
    }

    .footer-hr{
        display: none;
    }

    ::placeholder {
        color: black;
        opacity: 1;
    }

    .contact.dropdown,
    .blue-bg {
        background-color: #2061F2;
        color: white;
    }

    /*new footer*/
    .footer-16371 {
        padding: 7rem 0;
        font-family: "Poppins", sans-serif; }
        .footer-16371 .footer-site-logo {
          text-align: center;
          font-size: 2rem;
          font-weight: 900; }
          .footer-16371 .footer-site-logo a {
            color: #4200ff; }
        .footer-16371 .nav-links {
          padding: 0;
          margin: 0; }
          .footer-16371 .nav-links li {
            display: inline-block; }
            .footer-16371 .nav-links li a {
              padding: 10px;
              color: #000; }
              .footer-16371 .nav-links li a:hover {
                color: #4200ff; }
        .footer-16371 .social h3 {
          font-weight: bold;
          font-size: 18px;
          color: #000; }
        .footer-16371 .social ul li {
          display: inline-block; }
          .footer-16371 .social ul li a {
            display: inline-block;
            padding: 10px; }
          .footer-16371 .social ul li.in a {
            color: #df588a; }
          .footer-16371 .social ul li.tw a {
            color: #15b8ff; }
          .footer-16371 .social ul li.fb a {
            color: #3742d0; }
          .footer-16371 .social ul li.dr a {
            color: #fa38c1; }
          .footer-16371 .social ul li.pin a {
            color: #dd4d5a; }
        .footer-16371 .copyright {
          color: #999999; }

    /* About Us Page  */
    .banner-header-about-text{
        font-size: 5rem;
        font-weight: 900;
        line-height: 4.5rem;
    }

    .who-we-are-head{
        font-size: 3.5rem;
        font-weight: 900;
    }

    .who-we-are-para-1{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-top: 3rem;
    }

    .who-we-are-para-2{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .who-we-are-para-img{
        margin-top: 1rem;
    }

    .what-motivates-our-actions-para-1{
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-top: 2rem;
    }

    .what-motivates-our-actions-para-2{
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        margin-left: 3rem;
    }

    

/* Extra-large screens (large desktops) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    /*--Home--*/
    .container-padding {
        padding: 0 2rem !important;
    }

    .banner-header-text {
        font-size: 4rem;
        font-weight: 900;
        line-height: 3rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem !important;
        cursor: pointer;
        padding: .7rem 2rem !important;
    }

    .header-para {
        font-size: 1.1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    .featured-section {
        margin: 0 10rem !important;
    }

    .container-padding-helped{
        padding: 0 5rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 1.2rem !important;
        font-weight: 500;
        margin-bottom: 3rem !important;
    }

    .learn-last{
        margin-bottom: -1rem !important;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }
    
    /* What they say about us */
    .comments-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1.5rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 2.2rem !important; 
        font-weight: 900 !important;
        line-height: 3rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }
}