@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif !important;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: #ffffff !important;
}

:root {
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.alert {
  position: relative;
  padding: 0.25rem !important;
  margin-bottom: 0.5rem !important;
  border-radius: 0.25rem !important;
  border: 1px solid transparent;
}

.alert-inner {
  padding: 0.5rem !important;
  position: relative;
}

.close-btn {
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: 0 0 0 0.2rem;
  padding: 0rem 0.5rem 0.3rem 0.5rem !important;
}

.container-top-space {
  margin-top: 10%;
}

.logo {
  height: 4rem;
  width: 6.5rem;
}

header {
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Smooth transition for background and blur */
}

header nav ul {
  display: flex;
  margin-top: 15px !important;
}

header nav ul li a {
  display: inline-block;
  color: #000;
  margin: 0 20px;
  border: 3px solid transparent;
  transition: 0.2s;
  font-weight: 600;
  font-size: 1.2rem !important;
  padding: 0.5rem 0.5rem;
}

header nav ul li a:hover {
  color: #2061f2;
}

header nav ul li .active {
  color: #2061f2;
}

.link-contact {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  padding: 0.5rem 1.5rem !important;
}

.link-contact:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.5rem 1.5rem !important;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  background: #000;
}

.btn-primary:hover {
  background-color: #39a7ff !important;
}

.btn-dark:hover {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

/*--Home--*/
.container-padding {
  padding: 0 2rem !important;
}

.banner-header-text {
  font-size: 4rem;
  font-weight: 900;
  line-height: 3.7rem;
}

.button-container {
  display: flex;
}

.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem !important;
  cursor: pointer;
  padding: 0.7rem 2rem !important;
}

.button-container-margin {
  margin-top: 3rem;
}

.btn-group-sm > .btn,
.btn-sm {
  width: 181.1px !important;
}

.header-para {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.hero-video {
  width: 480px;
  height: 270px;
}

.home-video iframe {
  border-radius: 1rem !important;
}

.video-container {
  position: relative;
  width: 100%;
}

.volume-toggle {
  position: absolute;
  top: 25px;
  /* Adjust the top position as needed */
  right: 50px;
  /* Adjust the right position as needed */
  width: 35px;
  height: 35px;
  color: #ffffff;
  background-color: #000000;
  /* Background color of the toggle button */
  border-radius: 50%;
  /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  /* Adjust the font size as needed */
  z-index: 1;
  /* Ensure the icon is above the iframe */
}

/* About Us */
.about-us {
  background-color: #191e28;
  border-radius: 1rem;
  padding: 5% 10% !important;
}

.about-us h5 {
  font-size: 2.6rem !important;
}

.about-us hr {
  border: 0.05rem solid white;
  opacity: 0.5;
}

.about-us .about-bold-text {
  font-size: 2rem !important;
}

.about-us .about-light-text {
  font-size: 1.2rem !important;
}

.featured-section {
  margin: 0 8rem !important;
}

.featured-all-projects button {
  margin-top: 2rem !important;
}

/*-B2B and B2C Videos-*/
.about-us .B2B-bold-text {
  font-size: 2.5rem !important;
}

.B2B-text {
  font-size: 1.4rem !important;
}

/*-Who We Helped Explain-*/
.slick-slide {
  margin: 0 0;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-initialized .slick-slide {
  display: block;
}

.copy {
  padding-top: 250px;
}

.helped-margin {
  margin-bottom: 5rem !important;
}

.container-padding-helped {
  padding: 0 7rem !important;
}

/* Learn */
.learn-img {
  border-radius: 0.8rem !important;
}

.learn-text {
  margin-top: 1rem;
  font-size: 1.4rem !important;
  font-weight: 500;
}

.helped-text,
.learn-text-bold {
  font-weight: 900;
}

/* What they say about us */
.comments-margin {
  margin-top: 3rem !important;
}

/* What they say about us */
.comments-text-bold {
  font-size: 2.5rem !important;
  font-weight: 900;
}

.comments-text {
  font-size: 1.8rem !important;
}

/* Social Media Styles */
.social-text {
  font-size: 3rem !important;
  font-weight: 900 !important;
  line-height: 4rem !important;
  color: #fff !important;
}

.insta {
  background: linear-gradient(to right, #ff312c, #ffb131);
}

.insta:hover {
  background: linear-gradient(to right, #ffb131, #ff312c);
}

.behance {
  background-color: #2061f2 !important;
}

.contact-behance {
  background-color: #191e28 !important;
}

.behance:hover,
.contact-behance:hover {
  background-color: #11009e !important;
}

/* Contact Us */
.contact-textarea,
.contact-gradient {
  border: none;
  border-radius: 0.7rem;
  background-color: #e9f0fe !important;
  margin-top: 1rem !important;
  color: #000 !important;
}

.contact-textarea::placeholder,
.contact-gradient::placeholder,
select {
  color: #000 !important;
  font-weight: 600 !important;
}

#dropdown1 option {
  border-radius: 0.7rem;
  background: #007bff;
  color: white;
  border: none;
}

.btn-btnsubmit {
  align-items: end;
}

/*footer*/
.footer-head {
  font-size: 2rem !important;
  font-weight: 900 !important;
}

.footer-address {
  margin-bottom: 0 !important;
}

.footer-para {
  font-family: "Urbanist", sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.footer-margin-section-2 {
  margin-bottom: 1.4rem !important;
}

.footer-margin-section-3 {
  margin-bottom: 1.4rem !important;
}

.footer-margin-section-3-first {
  margin-top: 2.5rem !important;
  margin-bottom: 1.4rem !important;
}

.footer-link {
  color: #000 !important;
}

.footer-link:hover {
  color: #007bff !important;
}

.last-footer-section {
  margin-top: 5rem !important;
}

ul {
  padding-left: 0 !important;
}

.footer-hr {
  display: none;
}

::placeholder {
  color: black;
  opacity: 1;
}

.contact.dropdown,
.blue-bg {
  background-color: #2061f2;
  color: white;
}

/* About Us Page  */
.banner-header-about-text {
  font-size: 5rem;
  font-weight: 900;
  line-height: 4.5rem;
}

.who-we-are-head {
  font-size: 3.5rem;
  font-weight: 900;
}

.who-we-are-para-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 3rem;
}

.who-we-are-para-2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.who-we-are-para-img {
  margin-top: 1rem;
}

.what-motivates-our-actions-para-1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-top: 2rem;
}

.what-motivates-our-actions-para-2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-left: 3rem;
}

.about-us {
  background-color: #191e28;
  border-radius: 1rem;
  padding: 3rem 7rem !important;
}

.chit-chat {
  color: #fff;
  font-weight: 900;
  font-size: 3rem !important;
  line-height: 4.5rem;
}

.accordion-margin {
  margin-top: 3rem !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus.png) !important;
  transform: rotate(-180deg);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/plus.png) !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  font-weight: 600 !important;
  background-color: hsl(0, 0%, 100%) !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125) !important;
}

.accordion-button {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
}

/*Learn Page*/
.banner-header-learn-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3rem;
}

.learn-search {
  padding: 1rem 2rem !important;
  border: 1px solid #000 !important;
  margin-bottom: 5rem !important;
}

.learn-search::placeholder {
  color: #000 !important;
}

.pagination {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  /* display: flex !important; */
  display: none !important;
  justify-content: center !important;
  align-items: center !important;
}

.learn-pagination {
  height: 3.5rem !important;
  width: 3.5rem !important;
  background-color: #fff !important;
  margin-right: 1rem !important;
  font-weight: 600;
}

.learn-pagination:hover {
  background-color: #007bff !important;
  color: #fff !important;
  border: none !important;
}

.GotIdea {
  padding: 2rem 5rem !important;
  border-radius: 2rem;
  margin: 0rem 3rem !important;
}

.GotIdea-text {
  font-size: 3rem !important;
  font-weight: 900 !important;
  color: #fff !important;
}

.GotIdea-button {
  font-size: 1.5rem !important;
  padding: 0.6rem 2rem !important;
}

.service-gradient {
  border: none;
  border-radius: 15px;
  background-color: #e9f0fe;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.image-size {
  width: 10rem !important;
}

.service-section {
  flex: 1 0 calc(33% - 20px);
  margin: 1rem 0.7rem;
  padding: 2rem 2rem;
  box-sizing: border-box;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service-section:hover {
  transform: scale(1.04);
  box-shadow: 0.3rem 0.3rem #454f6b !important;
}

.service-section h5 {
  font-size: 1.7rem !important;
}

.service-section p {
  font-size: 1.2rem !important;
}

.learn-image-section .service-section:first-child {
  padding: 0 !important;
}

.search-col {
  display: none !important;
}

.verticle-padding {
  padding: 1.5rem 0rem !important;
  vertical-align: center;
}

.btn-verticle-padding {
  padding: 2rem 1.5rem !important;
}

.hidden {
  display: none !important;
}

.modal-title i {
  margin-right: 8px;
  font-size: 1.5rem;
}

.modal-header {
  border-bottom: 2px solid #d9d9d9;
}

.modal-body {
  padding: 20px;
}

.vidoe-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 1rem;
}

.vidoe-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 1rem;
}

.image_margin {
  margin-top: 2rem !important;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.image_margin:hover {
  transform: scale(1.2);
}

.accordion-item {
  border: none !important;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity (last value) as needed */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease; /* Smooth transition for the overlay */
}

.image-container:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("../images/play.png");
  background-size: cover;
  z-index: 2; /* Ensure play button is above the overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for the play icon */
}

.image-container:hover .play-icon {
  opacity: 1; /* Show play button on hover */
}

.Featured-Hover {
  transition: transform 0.3s ease; /* Smooth transition for the image */
}

.Featured-Hover:hover {
  transform: scale(1.03); /* Increase size on hover */
}

/* Custom styles for the modal */
.modal-header-custom {
  background-color: #007bff;
  color: white;
  border-bottom: none;
  text-align: center;
  z-index: 999 !important;
}

.modal-title-custom {
  flex: 1;
  font-weight: bold;
  z-index: 99999 !important;
}

.btn-close-custom {
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}

.modal-body-custom {
  padding: 2rem;
  background-color: #f8f9fa;
  z-index: 99999 !important;
}

.modal-footer-custom {
  background-color: #f8f9fa;
  border-top: none;
}

.form-control-custom {
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  z-index: 99999 !important;
}

.btn-custom {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.input-group-text-custom {
  background-color: #007bff;
  color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.input-group-custom {
  border-radius: 20px;
  overflow: hidden;
}

#success-alert {
  display: none;
  /* Hide the alert by default */
  position: fixed;
  padding: 35px !important;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

/* Custom styles for the modal */
.modal-header-custom {
  background-color: #007bff;
  color: white;
  border-bottom: none;
  text-align: center;
  z-index: 99999 !important;
}

.modal-title-custom {
  flex: 1;
  font-weight: bold;
  z-index: 99999 !important;
}

.btn-close-custom {
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}

.modal-body-custom {
  padding: 2rem;
  background-color: #f8f9fa;
  z-index: 99999 !important;
}

.modal-footer-custom {
  background-color: #f8f9fa;
  border-top: none;
}

.form-control-custom {
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  z-index: 99999 !important;
}

.btn-custom {
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.input-group-text-custom {
  background-color: #007bff;
  color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.input-group-custom {
  border-radius: 20px;
  overflow: hidden;
}

/* Extra-large screens (large desktops) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  /*--Home--*/
  .container-padding {
    padding: 0 2rem !important;
  }

  /*NavBar*/
  header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 20px;
    border: 3px solid transparent;
    transition: 0.2s;
    font-weight: 600;
    font-size: 0.8rem !important;
    padding: 0.5rem 0.5rem;
  }

  /*Home*/
  .banner-header-text {
    font-size: 2.5rem !important;
    font-weight: 900;
    line-height: 5rem;
  }

  .header-para {
    font-size: 1rem !important;
    font-weight: 600 !important;
  }

  .hero-video {
    width: 480px;
    height: 270px;
  }

  .button-container {
    display: flex;
  }

  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem !important;
    cursor: pointer;
    padding: 0.7rem 2rem !important;
  }

  .button-container-margin {
    margin-top: 3rem !important;
  }

  .btn-group-sm > .btn,
  .btn-sm {
    width: 125px !important;
  }

  .volume-toggle {
    position: absolute;
    top: 20px;
    /* Adjust the top position as needed */
    right: 20px;
    /* Adjust the right position as needed */
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #000000;
    /* Background color of the toggle button */
    border-radius: 50%;
    /* Make it circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    /* Adjust the font size as needed */
    z-index: 1;
    /* Ensure the icon is above the iframe */
  }

  /*-Feautered Images-*/
  .featured-work-img {
    border-radius: 1rem !important;
  }

  .featured-section {
    margin: 0 10rem !important;
  }

  .container-padding-helped {
    padding: 0 5rem !important;
  }

  /*-Learn-*/
  .learn-text {
    margin-top: 1rem;
    font-size: 1.2rem !important;
    font-weight: 500;
    margin-bottom: 3rem !important;
  }

  .learn-last {
    margin-bottom: -1rem !important;
  }

  .learn-text-bold {
    font-size: 2rem !important;
    font-weight: 900;
    text-align: center;
  }

  /* What they say about us */
  .comments-text-bold {
    font-size: 2rem !important;
    font-weight: 900;
  }

  .comments-text {
    font-size: 1.5rem !important;
  }

  /* Social Media Styles */
  .social-text {
    font-size: 2.2rem !important;
    font-weight: 900 !important;
    line-height: 3rem !important;
    color: #fff !important;
    margin-bottom: 2rem !important;
  }

  .mobile-top-margin {
    margin-top: 5rem;
  }

  /* About Us Page  */
  .banner-header-about-text {
    font-size: 3.5rem !important;
    font-weight: 900 !important;
    line-height: 2.8rem !important;
  }

  .who-we-are-head {
    font-size: 2rem;
    font-weight: 900;
  }

  .who-we-are-para-1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 1rem;
  }

  .who-we-are-para-2 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .who-we-are-para-img {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .what-motivates-our-actions-para-1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 2rem;
  }

  .what-motivates-our-actions-para-2 {
    margin-top: 2rem;
    font-size: 0.98rem !important;
    font-weight: 500;
    line-height: 2rem;
    margin-left: 0.5rem !important;
  }

  .about-us {
    background-color: #191e28;
    border-radius: 1rem;
    padding: 3rem 3rem !important;
  }

  .chit-chat {
    color: #fff;
    font-weight: 900;
    font-size: 2.5rem !important;
    line-height: 3.2rem;
  }

  .accordion-margin {
    margin-top: 3rem !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png) !important;
    transform: rotate(-180deg);
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: auto;
    content: "";
    background-image: url(../images/plus.png) !important;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    transition: transform 0.2s ease-in-out;
  }

  .accordion-button:not(.collapsed) {
    color: #000 !important;
    font-weight: 600 !important;
    background-color: hsl(0, 0%, 100%) !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125) !important;
  }

  .accordion-button {
    font-weight: 600 !important;
    font-size: 1rem !important;
  }

  /*footer*/
  .footer-head {
    font-size: 1.6rem !important;
    font-weight: 900 !important;
  }

  .footer-address {
    margin-bottom: 0 !important;
  }

  .footer-block-3 {
    display: block !important;
  }

  .footer-para {
    font-family: "Urbanist", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
  }

  .footer-margin-section-2 {
    margin-bottom: 1.2rem !important;
  }

  .footer-margin-section-3 {
    margin-bottom: 1.2rem !important;
  }

  .footer-margin-section-3-first {
    margin-top: 2.5rem !important;
    margin-bottom: 1rem !important;
  }

  .footer-link-hover:hover {
    color: #007bff;
  }

  .last-footer-section {
    margin-top: 5rem !important;
  }

  .footer-link {
    color: #000;
  }

  .footer-hr {
    display: none;
  }

  /*Learn Page*/
  .banner-header-learn-text {
    font-size: 2.8rem !important;
    font-weight: 900 !important;
    line-height: 2.5rem;
  }

  .learn-search {
    padding: 0.5rem 2rem !important;
    border: 1px solid #000 !important;
    margin-bottom: 5rem !important;
  }

  .learn-search::placeholder {
    color: #000 !important;
  }

  .pagination {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    /* display: flex !important; */
    display: none;
    justify-content: center !important;
    align-items: center !important;
  }

  .learn-pagination {
    height: 2.5rem !important;
    width: 2.5rem !important;
    background-color: #fff !important;
    margin-right: 0.5rem !important;
    font-weight: 600;
  }

  .learn-pagination:hover {
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
  }

  .GotIdea-text {
    font-size: 2rem !important;
    font-weight: 900 !important;
    color: #fff !important;
  }

  .GotIdea-button {
    font-size: 1rem !important;
    padding: 0.5rem 1rem !important;
    margin-top: 1rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .image-size {
    width: 10rem !important;
  }
}
