/* Small screens (phones) */
@media only screen and (max-width: 321px) {
    .logo {
        height: 3rem;
        width: 4.5rem;
    }
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 120px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    .banner-header-text {
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1.6rem;
    }

    .button-container {
        display: flex;
    }

    .container-padding {
        padding: 0 1rem !important;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .8rem !important;
        cursor: pointer;
        padding: .5rem 1rem !important;
    }

    .button-container-margin {
        margin-top: 2rem;
    }

    .header-para {
        font-size: 1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
        margin-top: 2rem;
    }

    /* About Us */
    .about-us {
    background-color: #191E28;
    border-radius: 1rem; 
    padding: 15% 15% !important;
    }

    .about-us h5 {
        font-size: 2rem !important;
        text-align: center;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .about-bold-text {
        font-size: 1rem !important;
        text-align: start;
    }

    .about-us .about-light-text {
        font-size: .9rem !important;
        text-align: justify;
    }

    .btn-about-us{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin-top: 2rem !important;
        width: 100%;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    .featured-section {
        margin: 0 0rem !important;
    }

    .featured-section h1{
        text-align: center;
    }

    .featured-all-projects button{
        margin-top: 2rem !important;
        font-size: 0.8rem !important;
        padding: 0.5rem 0.8rem !important;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 2rem !important;
        text-align: center !important;
    }

    .B2B-text{
        font-size: 1rem !important;
        text-align: center !important;
    }

    .btn-know-more{
        font-size: 1rem !important;
        width: 100%;
    }

    .B2B-margin-top {
        margin-top: 2rem !important; 
    }

    /*-Who We Helped Explain-*/
    .helped-margin{
        margin-bottom: 3rem !important;
        margin-top: 5rem !important;
    }

    .slick-slide{
        margin: 0 .8rem;
    }

    .helped-text{
        font-size: 1.2rem !important;
        text-align: center !important;
    }

    .container-padding-helped{
        padding: 0 2rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 1rem !important;
        font-weight: 500;
        margin-bottom: 3rem !important;
    }

    .learn-last{
        margin-bottom: -1rem !important;
    }

    /* What they say about us */

    .btn-arrow{
        display: none !important;
    }
    
    .comments-text-bold{
        font-size: 1.2rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 1.2rem !important; 
        font-weight: 900 !important;
        line-height: 2rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }

    /* Contact Us */
    .contact-textarea{
        margin-top: 1.6rem !important;
        margin-bottom: 2rem !important;
    }
}
/* Small screens (phones) */
@media only screen and (min-width: 322px) and (max-width: 480px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 120px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    .banner-header-text {
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 2.2rem;
    }

    .button-container {
        display: flex;
    }

    .container-padding {
        padding: 0 1rem !important;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem !important;
        cursor: pointer;
        padding: .5rem 2rem !important;
    }

    .button-container-margin {
        margin-top: 2rem;
    }

    .header-para {
        font-size: 1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
        margin-top: 2rem;
    }

    /* About Us */
    .about-us {
    background-color: #191E28;
    border-radius: 1rem; 
    padding: 15% 15% !important;
    }

    .about-us h5 {
        font-size: 2rem !important;
        text-align: center;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .about-bold-text {
        font-size: 1.5rem !important;
        text-align: start;
    }

    .about-us .about-light-text {
        font-size: 1rem !important;
        text-align: justify;
    }

    .btn-about-us{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin-top: 2rem !important;
        width: 100%;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    .featured-section {
        margin: 0 1rem !important;
    }

    .featured-section h1{
        text-align: center;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 2rem !important;
        text-align: center !important;
    }

    .B2B-text{
        font-size: 1rem !important;
        text-align: center !important;
    }

    .btn-know-more{
        font-size: 1rem !important;
        width: 100%;
    }

    .B2B-margin-top:nth-child(2) {
        margin-top: 2rem !important; 
    }

    /*-Who We Helped Explain-*/
    .helped-margin{
        margin-bottom: 3rem !important;
        margin-top: 5rem !important;
    }

    .slick-slide{
        margin: 0 1rem;
    }

    .helped-text{
        font-size: 2rem !important;
        text-align: center !important;
        font-weight: 900 !important;
    }

    .container-padding-helped{
        padding: 0 2rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 1.2rem !important;
        font-weight: 500;
        margin-bottom: 3rem !important;
    }

    .learn-last{
        margin-bottom: -1rem !important;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }

    /* What they say about us */
    .btn-arrow{
        display: none !important;
    }

    .comments-text-bold{
        font-size: 1.5rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1rem !important;
    }

    /* Social Media Styles */
    .social-text {
        font-size: 2rem !important; 
        font-weight: 900 !important;
        line-height: 3rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
        text-align: left;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }

    /* Contact Us */
    .contact-textarea{
        margin-top: 1.6rem !important;
        margin-bottom: 2rem !important;
    }

    /*Footer*/
    .footer{
        text-align: center !important;
        margin-top: 5rem !important;
    }

    .footer-hr{
        display: block;
        margin: 2rem 0;
    }

    .last-footer-section{
        margin-top: 0 !important;
        margin-bottom: -5rem !important;
    }

}
/* Small screens (phones) */
@media only screen and (min-width: 481px) and (max-width: 770px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 120px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    .banner-header-text {
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 2.2rem;
    }

    .button-container {
        display: flex;
    }

    .container-padding {
        padding: 0 1rem !important;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem !important;
        cursor: pointer;
        padding: .5rem 2rem !important;
    }

    .button-container-margin {
        margin-top: 2rem;
    }

    .header-para {
        font-size: 1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
        margin-top: 2rem;
    }

    /* About Us */
    .about-us {
        background-color: #191E28;
        border-radius: 1rem; 
        padding: 15% 15% !important;
    }

    .about-us h5 {
        font-size: 2rem !important;
        text-align: center;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .about-bold-text {
        font-size: 1.5rem !important;
        text-align: start;
    }

    .about-us .about-light-text {
        font-size: 1rem !important;
        text-align: justify;
    }

    .btn-about-us{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin-top: 2rem !important;
        width: 100%;
    }

    /*-Feautered Images-*/
    .featured-work-img{
        border-radius: 1rem !important;
    }

    .featured-section {
        margin: 0 1rem !important;
    }

    .featured-section h1{
        text-align: center;
    }

    /*-B2B and B2C Videos-*/
    .about-us .B2B-bold-text {
        font-size: 2rem !important;
        text-align: center !important;
    }

    .B2B-text{
        font-size: 1.3rem !important;
        text-align: center !important;
    }

    .btn-know-more{
        font-size: 1rem !important;
        width: 100%;
        margin-bottom: 2rem !important;
    }

    .B2B-margin-top {
        margin-top: 2rem !important; 
    }

    /*-Who We Helped Explain-*/
    .helped-margin{
        margin-bottom: 3rem !important;
        margin-top: 5rem !important;
    }

    .slick-slide{
        margin: 0 .8rem;
    }

    .helped-text{
        font-size: 1.5rem !important;
        text-align: center !important;
    }

    .container-padding-helped{
        padding: 0 2rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: .8rem !important;
        font-weight: 500;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }

    /* What they say about us */
    .comments-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1.2rem !important;
    }

}
/*----- Screen Responsive -------*/
@media only screen and (max-width: 992px) {
    header {
        padding: 0 30px;
    }

    /*-Who We Helped Explain-*/
    .helped-margin{
        margin-bottom: 3rem !important;
        margin-top: 5rem !important;
    }

    .slick-slide{
        margin: 0 1rem;
    }

    .helped-text{
        font-size: 1.2rem !important;
        text-align: center !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: 1.2rem !important;
        font-weight: 500;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }

    .container-padding-helped{
        padding: 0 2rem !important;
    }

    /* What they say about us */
    .comments-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
    }

    .comments-text{
        font-size: 1.5rem !important;
    }
    
    /* Social Media Styles */
    .social-text {
        font-size: 2rem !important; 
        font-weight: 900 !important;
        line-height: 3rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }
}
