/* Medium screens (tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* About Us */
    .about-us {
        background-color: #191E28;
        border-radius: 1rem; 
        padding: 5% 10% !important;
        }
    
        .about-us h5 {
            font-size: 2rem !important;
            text-align: center;
        }
    
        .about-us hr {
            border: 0.05rem solid white; 
            opacity: .5;
        }
    
        .about-us .about-bold-text {
            font-size: 1.4rem !important;
            text-align: start;
        }
    
        .about-us .about-light-text {
            font-size: .9rem !important;
        }
    
        .btn-about-us{
            font-size: .9rem !important;
        }

        /*-Feautered Images-*/
        .featured-work-img{
            border-radius: 1rem !important;
        }

    /*-Who We Helped Explain-*/
    .helped-text{
        font-size: 1.5rem !important;
        text-align: center !important;
    }

    .container-padding-helped{
        padding: 0 2rem !important;
    }

    /*-Learn-*/
    .learn-text{
        margin-top: 1rem;
        font-size: .8rem !important;
        font-weight: 500;
    }

    .learn-text-bold{
        font-size: 2rem !important;
        font-weight: 900;
        text-align: center;
    }

    /* What they say about us */

    .btn-arrow{
        display: none !important;
    }
    
    /* Social Media Styles */
    .social-text {
        font-size: 1.5rem !important; 
        font-weight: 900 !important;
        line-height: 2.4rem !important;
        color: #FFF !important;
        margin-bottom: 2rem !important;
    }

    .mobile-top-margin{
        margin-top: 5rem;
    }

    /*footer*/
    .footer-head{
        font-size: 1.6rem !important;
        font-weight: 900 !important;
    }

    .footer-address{
        margin-bottom: 0 !important;
    }

    .footer-para {
        font-family: 'Urbanist', sans-serif !important;
        font-size: .9rem !important;
        font-weight: 600 !important;
    }

    .footer-margin-section-2{
        margin-bottom: 1.2rem !important;
    }

    .footer-margin-section-3{
        margin-bottom: 1.2rem !important;
    }

    .footer-margin-section-3-first{
        margin-top: 2.5rem !important;
        margin-bottom: 1rem !important;
    }

    .footer-link-hover:hover{
        color: #007BFF;
    }

    .last-footer-section{
        margin-top: 5rem !important;
    }

    .footer-link{
        color: #000;
    }

    .footer-hr{
        display: none;
    }

    /*Learn Page*/
    .banner-header-learn-text{
        font-size: 2rem !important;
        font-weight: 900 !important;
        line-height: 2rem;
    }

    .banner-header-learn-text:first-child{
        margin-top: 2.5rem !important;
    }

    .learn-search{
        padding: .5rem 2rem !important;
        border: 1px solid #000 !important;
        margin-bottom: 5rem !important;
    }

    .learn-search::placeholder{
        color: #000 !important;
    }

    .pagination{
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .learn-pagination{
        height: 2.5rem !important;
        width: 2.5rem !important;
        background-color: #FFF !important;
        margin-right: .5rem !important;
        font-weight: 600;
    }

    .learn-pagination:hover{
        background-color: #007BFF !important;
        color: #FFF !important;
        border: none !important;
    }

    .GotIdea-text{
        font-size: 3rem !important;
        font-weight: 900 !important;
        color: #FFF !important;
    }

    .GotIdea-button{
        font-size: 1.3rem !important;
        padding: .5rem 1rem !important;
        margin-top: 1rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}


