@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: #FFF;
    padding-top: 3rem;
}

:root {
    --scroll-bar-color: #C5CADF;
    --scroll-thumb-color: #70768A;
    --scroll-thumb-hover-color: #454F6B;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}

.container-top-space {
    margin-top: 10%;
}

.logo {
    height: 4rem;
    width: 6.5rem;
}

header {
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #000;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
    font-weight: 600;
    padding: .5rem .5rem;
}
header nav ul li a:hover {
    color: #2061f2;
}

.link-contact{
    color: #FFF;
    background-color: #000;
    padding: .5rem 1rem;
}

.link-contact:hover{
    color: #FFF;
    background-color: #000;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #000;
}

/*--Home--*/
.container-padding{
    padding: 0 2rem !important;
}

.banner-header-text{
    font-size: 6rem;
    font-weight: 900;
    line-height: 4.5rem;
}

.button-container {
    display: flex;
  }
  
  .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem !important;
    cursor: pointer;
    padding: .7rem 2rem !important;
  }

  .button-container-margin{
    margin-top: 3rem;
  }

  .header-para{
    font-size: 1.5rem !important;
  }

  .home-img{
    border-radius: 1rem;
  }

  /* About Us */
  .about-us {
    background-color: #191E28;
    border-radius: 1rem; 
    padding: 5% 10% !important;
    }

    .about-us h5 {
        font-size: 2.4rem !important;
    }

    .about-us hr {
        border: 0.05rem solid white; 
        opacity: .5;
    }

    .about-us .fonts-section1 {
        font-size: 1.5rem !important;
    }

/* Small screens (phones) */
@media only screen and (max-width: 480px) {
    .hamburger {
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 120px;
        width: 100%;
        background: #fff;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
    }

    .banner-header-text {
        font-size: 3.5rem;
        font-weight: 900;
        line-height: 3rem;
    }

    .button-container {
        display: flex;
    }

    .container-padding {
        padding: 0 1rem !important;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .8rem !important;
        cursor: pointer;
        padding: .5rem 2rem !important;
    }

    .button-container-margin {
        margin-top: 2rem;
    }

    .header-para {
        font-size: 1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
        margin-top: 2rem;
    }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for medium screens go here */
}

/* Large screens (desktops) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*navbar*/
    header nav ul li a {
        display: inline-block;
        color: #000;
        margin: 0 10px;
        border: 3px solid transparent;
        text-transform: uppercase;
        transition: 0.2s;
        font-weight: 600;
        padding: .3rem .5rem;
        font-size: .8rem;
    }
    /*--Home--*/
    .container-padding {
        padding: 0 1rem !important;
    }

    .banner-header-text {
        font-size: 3rem;
        font-weight: 900;
        line-height: 2rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .8rem !important;
        cursor: pointer;
        padding: .5rem 2rem !important;
    }

    .button-container-margin {
        margin-top: 1.5rem;
    }

    .header-para {
        font-size: .9rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }
}

/* Extra-large screens (large desktops) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    /*--Home--*/
    .container-padding {
        padding: 0 2rem !important;
    }

    .banner-header-text {
        font-size: 4rem;
        font-weight: 900;
        line-height: 3rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem !important;
        cursor: pointer;
        padding: .7rem 2rem !important;
    }

    .header-para {
        font-size: 1.1rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }
}

/* 2K resolution screens */
@media only screen and (min-width: 2560px) {
    header {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .logo {
        height: 7rem;
        width: 10rem;
    }

    header nav ul li a {
        display: inline-block;
        color: #000;
        margin: 0 10px;
        border: 3px solid transparent;
        text-transform: uppercase;
        transition: 0.2s;
        font-weight: 600;
        padding: .5rem .5rem;
        font-size: 2rem;
    }

    /*--Home--*/
    .container-padding {
        padding: 0 2rem !important;
    }

    .banner-header-text {
        font-size: 10rem;
        font-weight: 900;
        line-height: 9rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 2rem !important;
        cursor: pointer;
        padding: 1rem 4rem !important;
    }

    .button-container-margin {
        margin-top: 5rem;
    }

    .header-para {
        font-size: 3rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }
}

/* 4K resolution screens */
@media only screen and (min-width: 2561px) {
    header {
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    .logo {
        height: 10rem;
        width: 15rem;
    }

    header nav ul li a {
        display: inline-block;
        color: #000;
        margin: 0 10px;
        border: 3px solid transparent;
        text-transform: uppercase;
        transition: 0.2s;
        font-weight: 600;
        padding: 1rem 2rem !important;
        font-size: 3rem;
    }

    /*--Home--*/
    .container-padding {
        padding: 0 2rem !important;
    }

    .banner-header-text {
        font-size: 15rem;
        font-weight: 900;
        line-height: 13rem;
    }

    .button-container {
        display: flex;
    }

    .button {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 3.5rem !important;
        cursor: pointer;
        padding: 1.5rem 6rem !important;
    }

    .button-container-margin {
        margin-top: 7rem;
    }

    .header-para {
        font-size: 5rem !important;
    }

    .mt-5{
        margin-top: 10rem !important;
    }

    .home-img {
        border-radius: 1rem;
        width: 100%;
    }
}

/*----- Screen Responsive -------*/
@media only screen and (max-width: 991px) {
    header {
        padding: 0 30px;
    }
}

/* Larger screens (fallback for very large desktops) */
@media only screen and (min-width: 1441px) {
    /* Your fallback styles for larger screens go here */
}
